## Week 2

Challenge Questions
1.  How many teams participated in the Euro2012?
2. What is the number of columns in the dataset?
3. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline.
4. Sort the teams by Red Cards, then to Yellow Cards.
5. Calculate the mean Yellow Cards given per Team.
6. Filter teams that scored more than 6 goals.
7.  Select the teams that start with the letter G.
8. Select the first 7 columns.
9. Select all columns except the last 3.
10. Present only the Shooting Accuracy from England, Italy and Russia.

To submit your entries, make a LinkedIn post with a screenshot or PDF of your answers. You can explain your thought process if you'd like. Just make sure to tag the Data in Motion LLC company page.

In [1]:
# Packages required
import pandas as pd

In [2]:
# Reading the data in
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/' + (
'02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')# "()" allows broken code.
data = pd.read_csv(url, sep=',')

In [3]:
data.head()
print('Data Dimensions --> row: %d, column: %d \n' % (data.shape[0], data.shape[1]) )
data.info()

Data Dimensions --> row: 16, column: 35

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Team                        16 non-null     object
 1   Goals                       16 non-null     int64
 2   Shots on target             16 non-null     int64
 3   Shots off target            16 non-null     int64
 4   Shooting Accuracy           16 non-null     object
 5   % Goals-to-shots            16 non-null     object
 6   Total shots (inc. Blocked)  16 non-null     int64
 7   Hit Woodwork                16 non-null     int64
 8   Penalty goals               16 non-null     int64
 9   Penalties not scored        16 non-null     int64
 10  Headed goals                16 non-null     int64
 11  Passes                      16 non-null     int64
 12  Passes completed            16 non-null     int64
 13  Passing Accuracy            16 non-null     object
 14  Touches                     16 non-null     int64
 15  Crosses                     16 non-null     int64
 16  Dribbles                    16 non-null     int64
 17  Corners Taken               16 non-null     int64
 18  Tackles                     16 non-null     int64
 19  Clearances                  16 non-null     int64
 20  Interceptions               16 non-null     int64
 21  Clearances off line         15 non-null     float64
 22  Clean Sheets                16 non-null     int64
 23  Blocks                      16 non-null     int64
 24  Goals conceded              16 non-null     int64
 25  Saves made                  16 non-null     int64
 26  Saves-to-shots ratio        16 non-null     object
 27  Fouls Won                   16 non-null     int64
 28  Fouls Conceded              16 non-null     int64
 29  Offsides                    16 non-null     int64
 30  Yellow Cards                16 non-null     int64
 31  Red Cards                   16 non-null     int64
 32  Subs on                     16 non-null     int64
 33  Subs off                    16 non-null     int64
 34  Players Used                16 non-null     int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

In [4]:
'''One way to replace a "$" and turn an object into a numeric'''
# pattern = r'([0-9]{2,3}\.[0-9])' # Using RegEx in order to pull the right pattern. 
# for i in data.loc[:,data.dtypes == object]: 
# #     print('Column Name: '+ i )
# #     print(data[i].unique(),'\n')
#     if i != 'Team': # Just needed to change the proper numeric columns in order to run numbers
#         print('Column Name: '+ i )
#         print(data[i].unique(),'\n') # Checking to see the type of numbers 
#         data[i] = data[i].str.extract(pattern).astype(float)

'One way to replace a "$" and turn an object into a numeric'

In [5]:
'''The more correct way to replace a "$" and turn an object into a numeric. 
You want to try and not use loops when working with Pandas. '''
data.loc[:,(data.dtypes == object) & (data.columns != 'Team')] = (
data.loc[:,(data.dtypes == object) & (data.columns != 'Team')].replace(to_replace = r'(?:%)', # RegEx code
                                                                       value='' , # Looking for % and replace w/ ""
                                                                       regex = True).astype('float'))

In [6]:
print('Data Dimensions --> row: %d, column: %d \n' % (data.shape[0], data.shape[1]) )
data.info() # Only one object in the dataframe.

Data Dimensions --> row: 16, column: 35

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Team                        16 non-null     object
 1   Goals                       16 non-null     int64
 2   Shots on target             16 non-null     int64
 3   Shots off target            16 non-null     int64
 4   Shooting Accuracy           16 non-null     float64
 5   % Goals-to-shots            16 non-null     float64
 6   Total shots (inc. Blocked)  16 non-null     int64
 7   Hit Woodwork                16 non-null     int64
 8   Penalty goals               16 non-null     int64
 9   Penalties not scored        16 non-null     int64
 10  Headed goals                16 non-null     int64
 11  Passes                      16 non-null     int64
 12  Passes completed            16 non-null     int64
 13  Passing Accuracy            16 non-null     float64
 14  Touches                     16 non-null     int64
 15  Crosses                     16 non-null     int64
 16  Dribbles                    16 non-null     int64
 17  Corners Taken               16 non-null     int64
 18  Tackles                     16 non-null     int64
 19  Clearances                  16 non-null     int64
 20  Interceptions               16 non-null     int64
 21  Clearances off line         15 non-null     float64
 22  Clean Sheets                16 non-null     int64
 23  Blocks                      16 non-null     int64
 24  Goals conceded              16 non-null     int64
 25  Saves made                  16 non-null     int64
 26  Saves-to-shots ratio        16 non-null     float64
 27  Fouls Won                   16 non-null     int64
 28  Fouls Conceded              16 non-null     int64
 29  Offsides                    16 non-null     int64
 30  Yellow Cards                16 non-null     int64
 31  Red Cards                   16 non-null     int64
 32  Subs on                     16 non-null     int64
 33  Subs off                    16 non-null     int64
 34  Players Used                16 non-null     int64
dtypes: float64(5), int64(29), object(1)
memory usage: 4.5+ KB

In [7]:
data.describe().T # "Team" was left out because it does not provide any real statistical data other than an ID

,count,mean,std,min,25%,50%,75%,max
Goals,16.0,4.750000,2.886751,1.0,2.750,4.50,5.250,12.0
Shots on target,16.0,17.125000,10.582218,7.0,9.750,13.00,22.000,42.0
Shots off target,16.0,24.937500,10.680005,10.0,18.000,23.50,32.250,45.0
Shooting Accuracy,16.0,39.718750,10.761426,21.2,33.400,40.65,48.350,55.9
% Goals-to-shots,16.0,11.687500,5.411454,4.1,6.375,12.70,16.000,20.0
Total shots (inc. Blocked),16.0,54.937500,26.065223,27.0,36.500,44.00,68.750,110.0
Hit Woodwork,16.0,1.250000,1.612452,0.0,0.000,1.00,2.000,6.0
Penalty goals,16.0,0.187500,0.403113,0.0,0.000,0.00,0.000,1.0
Penalties not scored,16.0,0.062500,0.250000,0.0,0.000,0.00,0.000,1.0
Headed goals,16.0,1.375000,1.024695,0.0,0.750,1.50,2.000,3.0
Passes,16.0,1763.375000,906.177898,851.0,1190.750,1522.00,1934.750,4317.0
Passes completed,16.0,1467.375000,827.580721,606.0,951.500,1211.50,1546.500,3820.0
Passing Accuracy,16.0,81.656250,4.925305,71.2,77.875,81.30,84.725,88.7
Touches,16.0,2579.187500,1122.164707,1433.0,1856.250,2220.50,2921.250,5585.0
Crosses,16.0,57.187500,18.616189,33.0,43.750,53.50,62.250,101.0
Dribbles,16.0,52.312500,22.703065,18.0,37.250,51.00,65.000,106.0
Corners Taken,16.0,21.562500,11.236659,7.0,14.000,19.50,28.500,44.0
Tackles,16.0,68.375000,22.823599,34.0,54.250,65.00,80.000,122.0
Clearances,16.0,86.375000,24.611312,41.0,73.750,85.00,99.000,137.0
Interceptions,16.0,63.562500,25.765529,29.0,44.500,58.50,73.750,136.0
Clearances off line,15.0,0.333333,0.617213,0.0,0.000,0.00,0.500,2.0
Clean Sheets,16.0,1.062500,1.289380,0.0,0.000,1.00,1.250,5.0
Blocks,16.0,12.562500,6.937519,4.0,8.000,10.00,13.500,29.0
Goals conceded,16.0,4.750000,1.983263,1.0,3.000,5.00,6.000,9.0
Saves made,16.0,12.125000,4.573474,6.0,9.750,11.00,13.500,22.0
Saves-to-shots ratio,16.0,70.981250,10.470417,54.6,64.475,68.65,76.625,93.8
Fouls Won,16.0,52.937500,22.915697,25.0,35.750,45.50,64.000,102.0
Fouls Conceded,16.0,55.625000,18.973227,30.0,44.500,51.00,64.750,90.0
Offsides,16.0,8.125000,4.910872,2.0,4.000,7.50,11.250,19.0
Yellow Cards,16.0,7.437500,3.265348,4.0,5.000,6.50,9.000,16.0
Red Cards,16.0,0.187500,0.403113,0.0,0.000,0.00,0.000,1.0
Subs on,16.0,10.875000,3.537890,7.0,8.500,10.50,12.500,18.0
Subs off,16.0,10.875000,3.537890,7.0,8.500,10.50,12.500,18.0
Players Used,16.0,17.250000,1.527525,15.0,16.000,17.00,18.250,20.0

## Question 1: How many teams participated in the Euro2012?

In [8]:
print("There are %d teams that particiapated in the Euro 2012." % len(data['Team'].unique()))
# This code ensures that there are no duplicate teams introduced into the calculations.

There are 16 teams that particiapated in the Euro 2012.

## Question 2: What is the number of columns in the dataset?

In [9]:
print("There are %d columns in the dataset." % data.shape[1])

There are 35 columns in the dataset.

In [10]:
# Another way of doing it
# print("There are %d columns in the dataset." % len(data.columns))

## Question 3: View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline.

In [11]:
discipline = data.loc[:,['Team','Yellow Cards', 'Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

## Question 4: Sort the teams by Red Cards, then to Yellow Cards.

In [12]:
discipline = discipline.sort_values(by=['Red Cards', 'Yellow Cards'],ascending=False)
discipline

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

## Question 5: Calculate the mean Yellow Cards given per Team.

In [13]:
discipline['Yellow Cards Mean'] = (discipline['Yellow Cards']/discipline['Yellow Cards'].sum())
discipline

                   Team  Yellow Cards  Red Cards  Yellow Cards Mean
6                Greece             9          1           0.075630
9                Poland             7          1           0.058824
11  Republic of Ireland             6          1           0.050420
7                 Italy            16          0           0.134454
10             Portugal            12          0           0.100840
13                Spain            11          0           0.092437
0               Croatia             9          0           0.075630
1        Czech Republic             7          0           0.058824
14               Sweden             7          0           0.058824
4                France             6          0           0.050420
12               Russia             6          0           0.050420
3               England             5          0           0.042017
8           Netherlands             5          0           0.042017
15              Ukraine             5          0           0.042017
2               Denmark             4          0           0.033613
5               Germany             4          0           0.033613

## Question 6: Filter teams that scored more than 6 goals.

In [14]:
data.loc[data["Goals"]>5,["Team","Goals"]].sort_values("Goals",ascending=False)

        Team  Goals
13     Spain     12
5    Germany     10
7      Italy      6
10  Portugal      6

## Questions 7: Select the teams that start with the letter G.

In [15]:
# I wanted to try something different 
# conditional = data.Team.str.contains(r'^G.+', case=False, regex=True) # Using RegEx, this pulls the teams that start with G
# data.loc[conditional,"Team"]

In [16]:
# Another way to do it. 
data.loc[data.Team.str.startswith('G').values, 'Team']

5    Germany
6     Greece
Name: Team, dtype: object

## Question 8: Select the first 7 columns.

In [17]:
print("The first %d columns are: " % data.iloc[:,0:7].shape[1])

data.iloc[:,0:7].head()

The first 7 columns are:

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9,16.0,32
1,Czech Republic,4,13,18,41.9,12.9,39
2,Denmark,4,10,10,50.0,20.0,27
3,England,5,11,18,50.0,17.2,40
4,France,3,22,24,37.9,6.5,65

## Question 9: Select all columns except the last 3.

In [18]:
data.iloc[:,:-3].head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9,16.0,32,0,0,0,...,0,10,3,13,81.3,41,62,2,9,0
1,Czech Republic,4,13,18,41.9,12.9,39,0,0,0,...,1,10,6,9,60.1,53,73,8,7,0
2,Denmark,4,10,10,50.0,20.0,27,1,0,0,...,1,10,5,10,66.7,25,38,8,4,0
3,England,5,11,18,50.0,17.2,40,0,0,0,...,2,29,3,22,88.1,43,45,6,5,0
4,France,3,22,24,37.9,6.5,65,1,0,0,...,1,7,5,6,54.6,36,51,5,6,0

## Question 10: Present only the Shooting Accuracy from England, Italy and Russia.

In [19]:
data.loc[(data.Team == 'England') | 
         (data.Team == "Italy")   |
         (data.Team == "Russia"),['Team','Shooting Accuracy']]

       Team  Shooting Accuracy
3   England               50.0
7     Italy               43.0
12   Russia               22.5