Challenge Questions
1. Which was the most-ordered item?
2. For the most-ordered item, how many items were ordered?
3. What was the most ordered item in the choice_description column?
4. How many items were ordered in total?
5. Turn the item price into a float
6. How much was the revenue for the period in the dataset?
7. How many orders were made in the period?
8. What is the average revenue amount per order?
9. How many different items are sold?

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Reading data in
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [3]:
# Data Exploration
chipo.info()
chipo.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## Question 1
### Which was the most-ordered item?

In [4]:
# chipo['item_name'].unique()
question1 = chipo.groupby(['item_name']).count().sort_values(by='order_id', ascending=False)['order_id']
print('The most-ordered item was %s.' % (question1.index[0]))

The most-ordered item was Chicken Bowl.

## Question 2
### For the most-ordered item, how many items were ordered?

In [5]:
print('%s was ordered %d times.' % (question1.index[0], question1[0]))

Chicken Bowl was ordered 726 times.

## Question 3
### What was the most ordered item in the choice_description column?

In [6]:
question3 = chipo.groupby(['choice_description']).count().sort_values(by='order_id', ascending=False)['order_id']
print('The most-ordered item in the choice_description column was %s.' % (question3.index[0][1:-1])) # Removing the brackets
print("There were %d %s ordered under the choice_description column." % (question3[0], question3.index[0][1:-1]))

The most-ordered item in the choice_description column was Diet Coke.
There were 134 Diet Coke ordered under the choice_description column.

## Question 4
### How many items were ordered in total?

In [7]:
tot_ordered = len(chipo['choice_description'].unique())
print("There were %d ordered items." % tot_ordered)

There were 1044 ordered items.

## Question 5 
### Turn the item price into a float

In [8]:
empty_list = []
for i in list(chipo['item_price'].values):
#     print(float(i[1:]))
    try: # Ensuring the dataframe isn't rewritten, in case I wanted to rerun the code.
        empty_list.append(float(i[1:])) # Grabbing all of the elements after the "$"
        chipo['item_price'] = pd.Series(empty_list) # 
    except IndexError:
        print("Error! You have already ran this code. \n")
        break

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

## Question 6
### How much was the revenue for the period in the dataset?

In [9]:
print("The total revenue is $%.2f" % chipo['item_price'].sum())

The total revenue is $34500.16

## Question 7
### How many orders were made in the period?
### Assumption: 'quantity' represents the number of orders made for a particular item.

In [10]:
print('There were %d orders made for this period.' % chipo['quantity'].sum())

There were 4972 orders made for this period.

## Question 8
### What is the average revenue amount per order?

In [11]:
# sorted(chipo['quantity'].unique()) # Verifying that I was looking at the correct list of unique 'quantity'
ave_rev_per_order = pd.pivot_table(chipo, values = 'item_price', columns = 'quantity', aggfunc= np.mean)
print("The average rev per order is:")
ave_rev_per_order

The average rev per order is:

quantity,1,2,3,4,5,7,8,10,15
item_price,7.175901,11.843393,13.373571,13.096,7.5,10.5,13.52,15.0,44.25

## Question 9 
### How many different items are sold?

In [12]:
print("There are %d different items sold" % len(chipo['item_name'].unique()))

There are 50 different items sold